*.iml
.gradle
.idea
.DS_Store
build
androidApp/release
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
*.jks
*.keystore
firebase-service-account.json
gha-creds-*.json
.kotlin/sessions/*.salive
